.header{
    height: 270px;
    width:100%;
    background-color: #158566;
}
.header h1{
    color:#FFFF;
    margin-left: 430px;
}
.header p{
    color:#0F0F0F;
    font-size: 20px;
    width:600px;
    height: auto;
    background-color: #D6EDED;
    margin-left: 380px;
    margin-top: 70px;
    border-radius: 15px;
}
#flag{
float:left;
}
#accra{
    float:right;
    margin-top: -57px;
}
.description{
    background-color: #0F0F0F;
    width: 55%;
    height: 400px;
    display:flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #FFFF;
}
.confirm{
    width: 55%;
    height: auto;
    background-color: #E8BEE7;
    margin-left: 300px;
    align-items: center;
    margin-left: 750px;
    margin-top: -400px;
    

}
.confirm-2{
    margin-left: 100px;
}
form{
    align-items: center;
    padding:10px;
}
input{
    display:block;
    width:auto;
    margin-left:20px;
    border:2px solid black;
    border-radius: 20px;
}
label{
    display:block;
    margin:0.5rem;
    
}
#submitBtn{
    background-color: #343050;
    color:white;
    margin:1rem;
    width:auto;
    text-transform: uppercase;
    cursor:pointer;
    font-size: 20px;

}
